ion-content{
  --ion-background-color: #c9d5ee ;
  }
.weight-icon {
   
    ion-list-header{
        margin-bottom: 5px;
        letter-spacing: 10px;
        font-size: 50x;
        
    }
    
    ion-icon {
        margin-right: 10px;
        color: #2f2f30;
        font-size: 30px;
       
    }  
}

.size{
  font-size: 20px;
}


.card1{
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black; 
    background: rgba(255, 255, 255, 0.5);

    .form{
    padding: 10px;
    margin-top: 15px;

    ion-input{
        --background: #f8f8f8;
        border: 1px solid rgb(0, 0, 0);
        --padding-start:33px;
        font-size: 25px;
        height: 50px;
        border-radius: 5px;  
        margin-bottom: 22px;
        border-style: double;
        color:rgb(7, 7, 7); 
    }
    }  
    h1{
      text-align: center;
    }
    p{
      font-size: 20px;
      margin-top: 30px;
    }
    .btn{
        padding: 10px;
       text-align: center;
        ion-icon {
            margin-right: 10px;
            
           
        }  
        

    }
}

.item{
    position: relative;
  &:hover > .label {
    color: blue;
  }
}
  .label{
    color: black;
  cursor: pointer;
  transition: all 0.25s linear;
}

.card2{
  background: rgba(255, 255, 255, 0.5);
  h1{
    font-size: 20px;
  }
  p{
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
  }
}
