<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <ion-card class="card0">
  <div class="title">
    <img src="../assets/img/logo.png" alt="">
    <h3>Conversion Chart: MET-Tricks </h3>
  </div>
</ion-card>
  <ion-card class="card1">
    <ion-card-content>
      <p>It was introduced in France in the year 1790. This historical evolution has culminated in the invention of the international system of units (SI units) later. It is known as "Metrication”. The different unit of measurement resulted in the introduction of the "Metric System".
         Metric Conversions are a part of our daily life, from cooking, baking to what not. Check out the metric conversion charts and tables in this lesson to get a better idea of how you can perform metric conversions.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card2">
    <ion-card-content>
      <img src="../assets/img/frontIMG.png" alt="">
      <img src="../assets/img/front2.gif" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card class="card3">
    <ion-card-content>
      <p> The metric system of measurement is the standard way of measuring distance, calculating height, and most of the other day-to-day items. For instance, let's consider a jar of milk. We use liters to find the volume of milk and meters (or centimeters) to find the height of the jar. This is because these metric units are followed in most places worldwide and are called SI units (International System of Units). Let's begin and learn more about the metric system.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card4">
    <ion-card-header> <b> Developers: </b></ion-card-header>
    <ion-card-content>
      <img src="../assets/img/norls.png" alt="Ayque">
      <h6> Norly C. Ayque </h6>
    </ion-card-content>

      <ion-card-content>
        <img src="../assets/img/marwin.jpg" alt="Narzoles">
        <h6>Marwin L. Narzoles </h6>
      </ion-card-content>

      <ion-card-content>
        <img src="../assets/img/gel.png" alt="Lunar">
        <h6>Mark Angel O. Lunar </h6>
      </ion-card-content>

      <ion-card-content>
        <img src="../assets/img/agolts.jpg" alt="Agolto">
        <h6>Angel Grace R. Agolto </h6>
      </ion-card-content>

  </ion-card>

</ion-content>